/* Sass module system */
@use "./tailwindcss/styles-base";
@use "./tailwindcss/styles-components";
@use "./tailwindcss/styles-utilities";
@use './app.scss';
@use './fonts.scss';


@tailwind base;
@tailwind components;
@tailwind utilities;

@function clampVw($minBreakpoint, $min, $max, $maxBreakpoint) {
  $vw: (($max - $min) / ($maxBreakpoint - $minBreakpoint)) * 100;
  $intercept: $min - ($vw * $minBreakpoint / 100);
  //trả về
  @return clamp(#{$min}, #{$vw}vw + #{$intercept}, #{$max});
}


body{
  overflow: unset 
}